<!--
 * @Author Nicolas Hong-Lao
 * matricule: 1460618
 * Github user: NicolasH-L
-->

<section class="bg-contact p-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mb-3">
                <h1 class="text-warning display-2">Contact</h1>
            </div>
        </div>

        <div class="row justify-content-center pb-4">
            <div class="col-lg-6 col-sm-10 col-md-8">
                <div class="text-center text-secondary">
                    <h2>Vous avez des questions?</h2>
                    <p>Restez connecté avec nous!</p>
                </div>
                <form action="#" class="text-white bg-background" style="font-size: 1.15em;">
                    <div class="form-group">
                        <label for="name">Nom</label>
                        <input type="text" class="form-control" id="name">
                    </div>
                    <div class="form-group">
                        <label for="email">Courriel</label>
                        <input type="text" class="form-control" id="email">
                    </div>
                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea class="form-control" id="message" rows="3"></textarea>
                    </div>
                    <button class="btn btn-warning btn-block mt-5" type="submit">Soumettre</button>
                </form>
            </div>
        </div>

        <div class="row justify-content-center pt-4">
            <div class="card text-white text-center bg-joindre">
                <div class="card-header">
                    <i class="far fa-user-circle fa-2x"></i>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Pour me joindre :</h5>
                    <a href=""><i class="far fa-envelope fa-2x px-3"></i></a>
                    <a href=""><i class="fab fa-linkedin-in fa-2x px-3"></i></a>
                    <a href=""><i class="fab fa-facebook-square fa-2x px-3"></i></a>
                    <a href="https://github.com/NicolasH-L/FullStackProject"><i
                            class="fab fa-github fa-2x px-3"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>