<!--
 * @Author Nicolas Hong-Lao
 * matricule: 1460618
 * Github user: NicolasH-L
-->

<div class="bg-fun">
    <div class="container d-flex justify-content-center">
        <img [src]="['assets/images/teriteri/head.jpg']" alt="head" width="20%" height="60%">
    </div>

    <div class="container d-flex justify-content-between">
        <img [src]="['assets/images/teriteri/leftSide.jpg']" alt="leftSide" width="20%" height="60%">
        <iframe width="670" height="330" src="https://www.youtube.com/embed/vWDAPvtImOY" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <img [src]="['assets/images/teriteri/rightSide.jpg']" alt="rightSide" width="20%" height="60%">
    </div>

    <div class="container d-flex justify-content-center">
        <img [src]="['assets/images/teriteri/leftSideFoot.jpg']" alt="leftSideFoot" width="20%" height="60%">
        <img [src]="['assets/images/teriteri/rightSideFoot.jpg']" alt="rightSideFoot" width="20%" height="60%">
    </div>
</div>