<!--
 * @Author Nicolas Hong-Lao
 * matricule: 1460618
 * Github user: NicolasH-L
-->

<footer class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h3 class="text-light font-weight-light font-italic p-3 mb-3">Suivez-nous sur nos réseaux sociaux!</h3>
                <div class="py-2">
                    <a href="https://www.facebook.com/CegepAndreLaurendeau/"><i class="fab fa-facebook fa-2x text-primary mx-3"></i></a>
                    <a href="https://www.instagram.com/cegepandrelaurendeau/?hl=en"><i class="fab fa-instagram fa-2x text-danger mx-3"></i></a>
                    <a href="https://twitter.com/claurendeau?lang=en"><i class="fab fa-twitter fa-2x text-info mx-3"></i></a>
                    <a href="https://www.youtube.com/channel/UCA4wBWkz7Oc7NiYwroUUyIQ"><i class="fab fa-youtube fa-2x text-danger mx-3"></i></a>
                </div>
                <p class="text-light py-4 m-0">&copy;Copyright 2020 - 420-345-AL - NicolasH-L</p>
            </div>
        </div>
    </div>
</footer>