.carousel-item .img-fluid {
    width:100%;
}

.carousel-caption{
    height: 35%;
    color: whitesmoke;
}

.bg-gradient {
    background: linear-gradient(to top, #0c0c0c 0%, #6b6b6b 100%)
}

p{
    color: cornsilk;
}

h1{
    color: whitesmoke;
}

h2{
    color: whitesmoke;
}