.carousel-item .img-fluid {
    width:100%;
}

.carousel-item a {
    display: block;
    width:100%;
}

.carousel-caption{
    height: 80%;
}

.bg-gradient {
    background: linear-gradient(to top, #000000 0%, #ffffff 100%)
}

p{
    color: cornsilk;
}